{{Strip}}
<div class="row no-margin">
	<div class="col-md-12">
		<div class="block-flat no-padding">
			<div class="header">
				<a href="javascript:;" data-ajax-accept="json" data-ajax-url="{{BackendURL}}/server/system_service/daemon_reload" class="btn btn-warning pull-right">
					<i class="fa fa-refresh"></i>
					{{"重载服务后台"|$.T}}
				</a>
				<a href="javascript:;" data-ajax-accept="json" data-ajax-url="{{BackendURL}}/server/system_service/log_clear" class="btn btn-danger pull-right">
					<i class="fa fa-trash"></i>
					{{"清理服务日志"|$.T}}
				</a>
				<h3>{{"系统服务"|$.T}}</h3>
			</div>
			<div class="content">
				<div class="table-responsive">
					<table class="table no-border hover">
						<thead class="no-border">
							<tr>
								<th style="width:180px"><strong>{{"状态"|$.T}}</strong></th>
								<th><strong>{{"服务名称"|$.T}}</strong></th>
								<th style="width:80px"><strong>{{"其它信息"|$.T}}</strong></th>
								<th style="width:180px"><strong>{{"操作"|$.T}}</strong></th>
							</tr>
						</thead>
						<tbody class="no-border-y">
							{{- range $k,$v := $.Stored.systemServiceList}}
							<tr>
								<td>{{"加载状态"|$.T}}: <span class="{{if eq $v.Load `loaded`}}text-success text-bold{{else}}text-warning{{end}}">{{$v.Load}}</span><br />
									{{"活跃状态"|$.T}}: <span class="{{if eq $v.Active `active`}}text-success text-bold{{else if eq $v.Active `failed`}}text-danger text-bold{{else}}text-warning{{end}}">{{$v.Active}}</span><br />
									{{"运行状态"|$.T}}: <span class="{{if eq $v.Sub `running`}}text-success text-bold{{else if eq $v.Sub `failed`}}text-danger text-bold{{else}}text-warning{{end}}">{{$v.Sub}}</span>
								</td>
								<td><strong>{{$v.Name}}</strong><br />{{$v.Description}}</td>
								<td>
									<a class="badge badge-info" href="javascript:;" data-url="{{BackendURL}}/server/system_service/log?name={{$v.Name}}" data-modal-title="{{$.T `[ %s ] 服务日志` $v.Name}}" title="{{`查看日志`|$.T}}" data-toggle="tooltip" onclick="App.logShow(this,true);">{{"查看日志"|$.T}}</a><br />
									<a class="badge badge-primary xs-margin-top" href="javascript:;" data-url="{{BackendURL}}/server/system_service/list_files?name={{$v.Name}}" data-modal-title="{{$.T `[ %s ] 服务配置文件` $v.Name}}" title="{{`查看配置文件`|$.T}}" data-toggle="tooltip" onclick="App.logShow(this,true,'',renderServiceConfFileContent);">{{"查看配置"|$.T}}</a>
								</td>
								<td class="label-group">
									<a class="label label-warning" href="javascript:;" data-ajax-accept="json" data-ajax-url="{{BackendURL}}/server/system_service/reload?name={{$v.Name}}" title="{{`重载服务`|$.T}}" data-toggle="tooltip"><i class="fa fa-refresh"></i> {{`重载服务`|$.T}}</a>
									{{- if eq $v.Active "active"}}
									<a class="label label-danger" href="javascript:;" data-ajax-accept="json" data-ajax-url="{{BackendURL}}/server/system_service/disable?name={{$v.Name}}" title="{{`禁用服务`|$.T}}" data-toggle="tooltip"><i class="fa fa-times"></i> {{`禁用服务`|$.T}}</a>
									{{- else}}
									<a class="label label-success" href="javascript:;" data-ajax-accept="json" data-ajax-url="{{BackendURL}}/server/system_service/enable?name={{$v.Name}}" title="{{`启用服务`|$.T}}" data-toggle="tooltip"><i class="fa fa-check"></i> {{`启用服务`|$.T}}</a>
									{{- end}}
									{{- if eq $v.Sub "running"}}
									<a class="label label-danger" href="javascript:;" data-ajax-accept="json" data-ajax-url="{{BackendURL}}/server/system_service/stop?name={{$v.Name}}" title="{{`停止服务`|$.T}}" data-toggle="tooltip"><i class="fa fa-stop"></i> {{`停止服务`|$.T}}</a>
									<a class="label label-warning" href="javascript:;" data-ajax-accept="json" data-ajax-url="{{BackendURL}}/server/system_service/restart?name={{$v.Name}}" title="{{`重启服务`|$.T}}" data-toggle="tooltip"><i class="fa fa-refresh"></i> {{`重启服务`|$.T}}</a>
									{{- else}}
									<a class="label label-success" href="javascript:;" data-ajax-accept="json" data-ajax-url="{{BackendURL}}/server/system_service/start?name={{$v.Name}}" title="{{`启动服务`|$.T}}" data-toggle="tooltip"><i class="fa fa-play"></i> {{`启动服务`|$.T}}</a>
									{{- end}}
								</td>
							</tr>
							{{end -}}
						</tbody>
					</table>
				</div>
				{{if $.Stored.pagination}}{{$.Stored.pagination.Render}}{{end}}
			</div>
		</div>
	</div>
</div>
<script>
function renderServiceConfFileContent(list){
	return App.genTable(list,{"Content":function(v){return '<pre class="no-margin">'+App.htmlEncode(v)+'</pre>';} } );
}
</script>
{{/Strip}}