{{Extend "layout"}}
{{Block "title"}}{{"系统用户"|$.T}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li class="active">{{"系统用户"|$.T}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
	<div class="col-md-12">
		<div class="block-flat no-padding">
			<div class="header">
				<a href="{{BackendURL}}/server/system_user/add" class="btn btn-success pull-right">
					<i class="fa fa-plus"></i> {{"添加用户"|$.T}}
				</a>
				<h3>{{"用户列表"|$.T}}</h3>
			</div>
			<div class="content">
				<div class="table-responsive">
					<table class="table no-border hover">
						<thead class="no-border">
							<tr>
								<th style="width:30px"><strong>#</strong></th>
								<th><strong>{{"用户名"|$.T}}</strong></th>
								<th style="width:60px"><strong>UID</strong></th>
								<th style="width:60px"><strong>GID</strong></th>
								<th><strong>{{"全名"|$.T}}</strong></th>
								<th><strong>{{"Home目录"|$.T}}</strong></th>
								<th><strong>{{"Shell"|$.T}}</strong></th>
								<th style="width:100px"><strong>{{"状态"|$.T}}</strong></th>
								<th><strong>{{"组"|$.T}}</strong></th>
								<th style="width:110px" class="text-center"><strong>{{"操作"|$.T}}</strong></th>
							</tr>
						</thead>
						<tbody class="no-border-y">
							{{- range $k,$v := $.Stored.listData}}
							<tr{{if $v.System}} class="text-muted"{{end}}>
								<td>{{$k}}</td>
								<td>{{$v.Username}}</td>
								<td>{{$v.UID}}</td>
								<td>{{$v.GID}}</td>
								<td>{{$v.Comment}}</td>
								<td><code>{{$v.HomeDir}}</code></td>
								<td><code>{{$v.Shell}}</code></td>
								<td>
									{{- if $v.Locked }}
									<span class="label label-danger">{{"已锁定"|$.T}}</span>
									{{- else }}
									<span class="label label-success">{{"正常"|$.T}}</span>
									{{- end }}
									{{- if $v.System }}
									<span class="label label-default">{{"系统"|$.T}}</span>
									{{- end }}
								</td>
								<td>
									{{- range $i,$g := $v.Groups }}
									<span class="label label-primary">{{$g}}</span>
									{{- else }}
									<span class="text-muted">-</span>
									{{- end }}
								</td>
								<td class="label-group">
									<a class="label label-success" href="{{BackendURL}}/server/system_user/edit?username={{$v.Username|urlquery}}" title="{{`编辑`|$.T}}" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
									{{- if $v.Locked }}
									<a class="label label-warning" href="javascript:;" data-ajax-accept="json" data-ajax-method="post" data-ajax-reload="1" data-ajax-url="{{BackendURL}}/server/system_user/unlock?username={{$v.Username|urlquery}}" title="{{`解锁`|$.T}}" data-toggle="tooltip"><i class="fa fa-unlock"></i></a>
									{{- else }}
									<a class="label label-warning" href="javascript:;" data-ajax-accept="json" data-ajax-method="post" data-ajax-reload="1" data-ajax-url="{{BackendURL}}/server/system_user/lock?username={{$v.Username|urlquery}}" title="{{`锁定`|$.T}}" data-toggle="tooltip"><i class="fa fa-lock"></i></a>
									{{- end }}
									<a class="label label-danger" href="javascript:;" onclick="deleteUser('{{$v.Username}}')" title="{{`删除`|$.T}}" data-toggle="tooltip"><i class="fa fa-times"></i></a>
								</td>
							</tr>
							{{- else -}}
							<tr>
								<td colspan="10" class="text-center text-muted">{{"暂无用户"|$.T}}</td>
							</tr>
							{{- end -}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{{/Block}}
{{Block "footer"}}
<script>
function deleteUser(username){
	if(!confirm(App.t('真的要删除用户"%s"吗？',username))) return;
	$.post('{{BackendURL}}/server/system_user/delete', {username:username, removeHome:0}, function(r){
		if(r.Code!=1){App.message({text:r.Info,type:'error'});return}
		location.reload();
	}, 'json');
}
</script>
{{/Block}}
